*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100vh;
}
video {
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(234, 239, 237);
}
.btn{
    background-color: blanchedalmond;
}
.about{
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-top: 10%;
}
.about p{
    padding: 15px;
}
.praise{
    width:100%;
    height:500px;
    padding: 5px;
}
.pastor{
    width: 30%;
    height: 40%;
    float: left;
    margin:5px;
}