*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100vh;
}
@media screen and (max-width: 1024px){
    .header {
        height: 100vh;
    }
}

@media screen and (max-width: 600px){
    .header {
        height: 100vh;
    }
    .header,
    .logo {
        position: static;
    }
}
.header_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    text-align: center;
    color: rgba(215, 149, 17, 0.906);
}
.header_content span{
    color: aliceblue;
}
.logo{
    padding: 2rem;
    position: fixed;
    top: 0;
}

.img_logo{
    width: 80%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 21, 0.775);
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
body{
    background-color: rgb(234, 239, 237);
}
.btn{
    background-color: blanchedalmond;
}
.about{
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-top: 5%;
    background-color: antiquewhite;

}
.about h1{
    width: 80%;
    background-color: rgb(247, 169, 75);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.about_container{
    width: 80%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about p{
    padding: 15px;
}
.praise{
    width:100%;
    height:500px;
    padding: 5px;
}
.pastor{
    width: 40%;
    height: 40%;
    float: left;
    margin-right:10px;
}
.contact{
    background-color: rgb(162, 33, 194);
    padding: 3rem 0;
}
.footer_social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer_social a{
    background: rgb(198, 121, 7);
    color: rgb(187, 192, 192);
    padding: 0.8rem;
    border-radius: 0.7rem;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
}
.navlinks{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}
.navlinks a{
    text-decoration: none;
    margin-right: 15px;
    color: rgb(247, 169, 75);
}
.navlinks a:hover{
    text-decoration: underline;
    color: rgb(247, 169, 75);
    transform: scale(2) ;
    margin-right: 30px;
    margin-left: 30px;
}
@media (max-width: 1024px){

}
@media (max-width: 600px){
    .navlinks{
        display: flex;
        flex-direction: column;
        justify-content: right;
        
    }
    .navlinks a{
        text-decoration: none;
        text-align: right;
        color: rgb(164, 100, 5);
    }
}

#footer-contact{
    width: 40%;
    height:20%;
    margin: 0 auto;
    background-color: rgb(43, 12, 72);
    color: aliceblue;
    font-size: 18px;
    padding: 5rem;

}
